<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/viewlib/bootstrap/bootstrap.min.css}" />
<title>top</title>
</head>
<body>
	<!-- javasctiptファイルリンク -->
	<script type="text/javascript"
		th:src="@{/viewlib/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/viewlib/bootstrap/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/top.js}"></script>

	<div class="container form-area">
		<form action="#" th:action="@{/top}" th:object="${userForm}" id="form"
			method="post">
			<h1 th:text="${errorMsg}"></h1>

			<div class="form-group col-lg-6">
				<table class="table usertable">
					<thead>
						<tr>
							<th scope="col">ユーザID</th>
							<th scope="col">ユーザ名</th>
							<th scope="col">メールアドレス</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user,stat  : ${userlist}"
							th:id="'user_'+${stat.index}" onclick="userlist_click(this)">
							<td id="userid" th:text="${user.id.userId}"></td>
							<td th:text="${user.userName}"></td>
							<td th:text="${user.mailAddress}"></td>
						</tr>
					</tbody>
				</table>
				<input type="hidden" id="clickuser" th:field="*{userId}" />
			</div>
			<div class="form-group col-lg-6"></div>
			<div class="col-sm-2"></div>
		</form>
	</div>
</body>
</html>
