@charset "UTF-8";

/*
*Header
*/
.header{
	border-bottom:1px solid;
	border-color:#e3e3e3;
}
.toggle{
	width: 30px;
	height: 30px;
	position: relative;
	transition: .1s;
	margin: 5px 5px;
	cursor: pointer;
}
.toggle span{
	background-color:#121212;
	position: absolute;
	border-radius: 2px;
	transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.toggle span:nth-child(1){
	width: 100%;
	height:  4px;
	display: block;
	top: 0px;
	left: 0px;
}
.toggle span:nth-child(2){
	width: 100%;
	height:  4px;
	display: block;
	top: 13px;
	left: 0px;
}
.toggle span:nth-child(3){
	width: 100%;
	height:  4px;
	display: block;
	bottom: 0px;
	left: 0px;
}
.toggle:not(.open):hover span:nth-child(1){
	width: 100%;
	height:  4px;
	display: block;
	top: -2px;
	left: 0px;
	transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.toggle:not(.open):hover span:nth-child(2){
	width: 100%;
	height:  4px;
	display: block;
	top: 13px;
	left: 0px;
	transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}
.toggle:not(.open):hover span:nth-child(3){
	width: 100%;
	height:  4px;
	display: block;
	bottom: -2px;
	left: 0px;
	transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.toggle.open span:nth-child(1){
	left:3px;
	top: 15px;
	transform: rotate(45deg);
	transition-delay: 150ms;
}
.toggle.open span:nth-child(2){
	background-color:transparent;
}
.toggle.open span:nth-child(3){
	left:3px;
	top: 15px;
	transform: rotate(-45deg);
	transition-delay: 150ms;
}
.menuitem-conteiner{
	position:relative;
}
.menulist{
	display:none;
}
.menulist ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menulist ul li {
  display: block;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 18px;
  color: #fff;
}
.menulist ul li button{
	border:none;
	width:200px;
	height:60px;
}
.menulist ul li button:hover {
  background: #4EFFFF;
  color: #000;
}

/*
*Main
*/
.main{
	margin-top:10px;
	margin-bottom:10px;
}
/*
*Footer
*/
.footer{
	border-top: 1px solid;
	border-color:#e3e3e3;
}
